body {
    background-color: #FFFFFF;
}

.container {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.view {
    font-family: sans-serif;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}

/*NAV BAR*/
.header {
    padding: 10px;
}

.nav-list-ul {
    list-style-type: none;
    padding-left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    display: block;
    margin-top: 0;
    margin-bottom: 0;
}

.nav-list-li {
    display: inline;
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px;
}

.navLink {
    text-decoration: none;
    font-family: sans-serif;
    color: #F0FFFF;
}

a:hover {
    text-decoration: none;
    font-family: sans-serif;
    color: #FFFFFF;
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

nav {
    margin-top: 0px;
    background-color: #1d6db2;
}

nav, footer {
    display: block;
    width: 100%;
    margin: auto;
    text-align: center;
}


/*FOOTER*/
footer {
    font-size: 0.75em;
    text-align: center;
}

.footer-text {
    margin-top: 10px;
}

.footer-symbol {
    font-size: 8px;
    font-family: sans-serif;
    color: #b3b3b3;
    border-radius: 8px;
    border: 1px #d9d9d9;
    padding: 2px 4px 2px 4px;
    background-color: #d9d9d9;
    position: relative;
    top: -1px;
    z-index: 50;
}

.footer-rule {
    background-color: #d9d9d9;
    color: #d9d9d9;
    height: 2px;
    border: 0px;
    position: relative;
    top: 10px;
}


/*HOME PAGE*/
@media (min-width: 1075px) {
    .image-holder, .about-holder {
        display: inline-block;
        width: 50%;
        height: 100%;
    }
}

@media (max-width: 1074px) {
    .image-holder {
        display: none;
    }
    .about-holder {
        height: 100%;
        width : 100%
    }
}

h4 {
    color: #000000;
    margin-top: 1em;
    margin-bottom: 0.25em;
}

h3 {
    color: #1d6db2;
}

h2 {
    color: #000000;
    text-align: center;
    margin-bottom: 0.25em;
}

p {
    margin-top: 0.5em;
    margin-bottom: 0.25em;
}

.aboutItem, .aboutPerson {
    font-family: sans-serif;
    font-size: 1.25em;
}

.aboutItem {
    cursor: pointer;
}

.aboutItem:hover {
    color: #1d6db2;
}

.details, .details:hover {
    font-size: 0.8em;
    padding: 5px 5px 5px 5px;
    background-color: #F4F4F4;
    color: #999999;
}

.about-holder {
    width: 65%
}

@media (min-width: 1075px) {
    .right-side, .left-side {
        padding: 0 10px 0 10px;
        width: 45%;
    }
}

@media (max-width: 1074px) {
    .right-side, .left-side {
        padding: 0;
        width: 95%;
    }

    .about-picture {
        display: none;
    }
}

.business {
    padding: 5px;
    background-color: #FFFFFF;
    margin-bottom: 10px;
}

.people, .bios {
    font-family: sans-serif;
    padding: 5px;
    background-color: #FFFFFF;
}

.bios {
    margin-top: 10px;
}

/*QUOTE PAGE*/
.contact-ul {
    width:750px;
    list-style-type:none;
    list-style-position:outside;
    margin: auto;
    padding:0px;
}

.contact-li {
    padding:10px;
    border-bottom:1px solid #eee;
    position:relative;
}

*:focus {
    outline-style: none;
}

.contact-form label {
    text-align: right;
    width:250px;
    margin-top: 3px;
    display:inline-block;
    float:left;
    padding:3px;
}

.contact-form input {
    height:20px;
    width:220px;
    padding:5px 8px;
}

.contact-form textarea {
    padding:8px;
    width:300px;
}

.contact-form input, .contact-form textarea {
    border:1px solid #aaa;
    background-color: #fff;
    border-radius:2px;
    -moz-transition: width .25s;
    -webkit-transition: width .25s;
    -o-transition: width .25s;
    transition: width .25s;
}

.contact-form input:focus, .contact-form textarea:focus {
    background: #F0FFFF;
    border:1px solid #555;
}

.contact-form input:focus {
    width: 250px;
}

.contact-form textarea:focus {
    width: 330px;
}

.contact-form h3 {
    color: #000000;
}

button.quoteItem {
    width: 95px;
    margin-top: 0.75em;
    padding-top: 0em;
}