nav, footer {
  width: 75%;
  margin: auto;
}

footer {
  font-size: 0.75em;
  text-align: center;
}

ul {
  list-style-type: none;
  padding-left: 0px;
  text-align: center;
  display: block;
  margin-top: 0;
}

li {
  display: inline;
  margin-right: 5px;
  margin-left: 5px;
  padding: 5px;
}

.navLink {
  text-decoration: none;
  color: #999999;
}

a:hover {
  color: #000000;
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.contentHolder {
  width: 85%;
  margin: auto;
}

h4 {
  color: #999999;
}

h2 {
  text-align: center;
}

.aboutItem {
  font-family: sans-serif;
  font-size: 1.25em;
  cursor: pointer;
}

.details {
  font-size: 0.8em;
  padding: 5px 5px 5px 5px;
  background-color: #d9d9d9
}

.footer-text {
  margin-top: 10px;
}

.footer-symbol {
  font-size: 8px;
  font-family: sans-serif;
  color: #b3b3b3;
  border-radius: 8px;
  border: 1px #d9d9d9;
  padding: 2px 4px 2px 4px;
  background-color: #d9d9d9;
  position: relative;
  top: -1px;
  z-index: 50;
}

.footer-rule {
  background-color: #d9d9d9;
  color: #d9d9d9;
  height: 2px;
  border: 0px;
  position: relative;
  top: 10px;
}

.quoteForm {
  display: block;
}

.quoteItem {
  display: block;
  text-align: center;
  width: 75%;
  margin: auto;
  padding-top: 0.75em;
}

button.quoteItem {
  width: 95px;
  margin-top: 0.75em;
  padding-top: 0em;
}